.background {
    display: flex;
    height: 100vh;
    color: #0A1D56;
  }
.dashboardcc{
  
 
  padding-left: 1vw;
  padding-right: 1vW;
}

.tableheader{
 
  display: flex;
  justify-content: space-between;
}




  

