.table{
    width:100%;
    
   
    
}
.table_header{
    background-color: rgb(255, 153, 0);
    color: white;
    height: 4vh;
}

.table_body{
   
}
.table_options_body{
    
    display: flex;
    justify-content: space-around;
    
}



.table_row{
    background-color:bisque;
    font-size: 20px;
    border-bottom: 1px solid black;
}

.table_row:hover{
    background-color: rgb(48, 228, 153);
    
}