.navbar {

    width: 15vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    left: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .team_finder_logo {
    width: 11vw;
    margin: 2vw;
  }
  
  .org_logo {
    width: 8vw;
    bottom: 2vw;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    
  }
  


  .list_item {
    padding-left: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    
    font-size: 1.4vw;
  }

  .list_item:hover {
background-color: aquamarine;
  }
  
  .icons {
    margin-right: 2vw;
    width: 1.4vw;
  }
