
.App {
  height: 100vh;
  background-image: url("/assets/Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.main-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.right-container {
  background-image: url("/assets/main-page-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40%;
  height: 60%;
}

.left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
}

h1,
h2,
h3,
h4 {
  color: white;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 30px;
}
h4 {
  font-size: 25px;
}

a {
  color: #000;
  text-decoration: none;
}

.btn {
  padding: 12.5px 30px;
  border: 0;
  text-decoration: none;
  border-radius: 100px;
  background-color: #fff;
  color: #ff0000;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.btn:hover {
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.btn:active {
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
